{% extends "planificador/base.html" %}

{% block titulo %}{{ titulo_pagina }} | Agenda de estudio{% endblock %}

{% block contenido %}
    <h2>Bienvenido</h2>
    <p>Tu proyecto Django ya está funcionando y ahora usa datos reales.</p>

    <h3>Resumen</h3>
    <ul>
        <li>Total de materias: {{ total_materias }}</li>
        <li>Total de tareas: {{ total_tareas }}</li>
        <li>Tareas pendientes: {{ tareas_pendientes }}</li>
    </ul>

    <p>
        <a href="{% url 'lista_tareas' %}">Ver todas las tareas</a>
    </p>
{% endblock %}