{% extends "planificador/base.html" %}

{% block titulo %}{{ titulo_pagina }} | Agenda de estudio{% endblock %}

{% block contenido %}
    <h2>Lista de tareas</h2>

    {% if tareas %}
        <ul>
            {% for tarea in tareas %}
                <li>
                    <h3>
                        <a href="{% url 'detalle_tarea' tarea.id %}">
                            {{ tarea.titulo }}
                        </a>
                    </h3>

                    <p><strong>Materia:</strong> {{ tarea.materia.nombre }}</p>
                    <p><strong>Fecha de entrega:</strong> {{ tarea.fecha_entrega }}</p>
                    <p><strong>Prioridad:</strong> {{ tarea.get_prioridad_display }}</p>

                    {% if tarea.completada %}
                        <p><strong>Estado:</strong> Completada</p>
                    {% else %}
                        <p><strong>Estado:</strong> Pendiente</p>
                    {% endif %}

                    <hr>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No hay tareas registradas todavía.</p>
    {% endif %}
{% endblock %}